<% layout('../layouts/mainlayout.ejs') -%>

<br/><br>
<form action="/user/CreationEvent" method="POST"> 
    <table>
        <input id="userID" name="userID" type="hidden" value=<%=user._id %>>
        <tr>
            <td><b>Event Name: </b</td>
            <td><input name="name" type="text" value="<%= event.name ? event.name : '' %>"></td>
        </tr>
        <tr>
            <td><b>Description:</b></td>
            <td><input name="description" type="text" value="<%= event.description ? event.description : '' %>"></td>
        </tr>
            <td><b>Date:</b></td>
            <td><input id ="flat" name="date" placeholder="Select Date and Time.."type="datetime-local" value="<%= event.date ? event.date : '' %>"></td> 
        </tr>
        <tr>
            <td><b>Attendees:</b><p></td>
                <td>
            <% for (let i=0; i < allusers.length; i++) { %>
                <% if(allusers[i].username == reqInfo.username)
                {   continue; }
                %>
            
                <%=allusers[i].username%>&nbsp;</b><input name="attendees" type="checkbox" value="<%= allusers[i].username ? allusers[i].username : '' %>">
            <% } %></p>
                </td></tr>
                <tr>
                <td> <input type="submit" value="Submit" style="width:150px"></td>
            </tr>

    </table>
</form>
<%= errorMessage %><br/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
let flatinput = document.getElementById("flat");
flatpickr(flatinput, {enableTime: true, dateFormat: "Y-m-d H:i",});
</script>
