<% layout('../layouts/mainlayout.ejs') -%>

<link rel='stylesheet' href='/public/formstyle.css' />

<div class="login-form">
    <form action="/user/CreationEvent" method="POST">
        <input id="userID" name="userID" type="hidden" value=<%=user._id %>>
        <h2 class="text-center">Create Event</h2>
        <img style="display:block; margin-left: auto; margin-right: auto; padding-bottom: 10px;"
            src="/public/eventicon.png" width="100px">
        <div class="form-group">
            <input name="name" class="form-control" placeholder="Event Name" type="text"
                value="<%= event.name ? event.name : '' %>">
        </div>
        <div class="form-group">
            <input name="description" class="form-control" placeholder="Description" type="text"
                value="<%= event.description ? event.description : '' %>">
        </div>
        <div class="form-group">
            <input id="rflat" class="form-control" name="date" placeholder="Select Date and Time.."
                type="datetime-local" value="<%= event.date ? event.date : '' %>">
        </div>
        <div class="form-group">
            <p class="text-center" style="font-weight: bolder;">Attendees:</p>
            <% for (let i=0; i < allusers.length; i++) { %>
            <% if(allusers[i].username == reqInfo.username)
            {   continue; }
            %>

            <%=allusers[i].username%>&nbsp;</b><input name="attendees" type="checkbox"
                value="<%= allusers[i].username ? allusers[i].username : '' %>">
            <% } %>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </div>
    </form>
</div>
<%= errorMessage %><br />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    let flatinput = document.getElementById("rflat");
    flatpickr(flatinput, { enableTime: true, dateFormat: "Y-m-d H:i", });
</script>