<% layout('../layouts/mainlayout.ejs') -%>
<br />

<link rel='stylesheet' href='/public/formstyle.css'/>

<div class="login-form">
    <form action="/user/RegisterUser" method="POST">
        <h2 class="text-center">Register</h2>
        <div class="form-group">
            <input name="username" class="form-control" type="text" placeholder="Username"
                value="<%= user.username ? user.username : '' %>">
        </div>
        <div class="form-group">
            <input name="email" class="form-control" type="text" placeholder="Email"
                value="<%= user.email ? user.email : '' %>">
        </div>
        <div class="form-group">
            <input name="firstName" class="form-control" type="text" placeholder="First Name"
                value="<%= user.firstName ? user.firstName : '' %>">
        </div>
        <div class="form-group">
            <input name="lastName" class="form-control" type="text" placeholder="Last Name"
                value="<%= user.lastName ? user.lastName : '' %>">
        </div>
        <div class="form-group">
            <input name="password" class="form-control" placeholder="Password " type="password">
        </div>
        <div class="form-group">
            <input name="passwordConfirm" class="form-control" placeholder="Confirm Password" type="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>
    <p class="text-center"><a href="/user/Login">Already Have an Account?</a></p>
</div>

<b style="color: red;"></b>
<%= errorMessage %><br />
</b>